
.header_main {
    display: flex;
    justify-content: flex;
    flex-direction: column;
}
.header_main img {
    align-self: center;
}
.perfil {
border-radius: 50%;
}
body {
    background-color: rgb(219, 217, 214);
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}
a {
    text-decoration: line-through;
    color: rgb(109, 23, 23)
}

#title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

#title, .subtitle, .post_title {
    color: rgb(2, 41, 59);
}

.post_title {
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: white;
    padding: 15px;
    border: 3px solid rgb(187, 183, 183);
    margin: 15px;
    border-radius: 5px;
}
.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.post_image {
    margin-bottom: 15px;
    width: 100%;
}
.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
}